.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: contain;
}

.popup__close-button:hover {
    background-image: url(../../../images/Close\ Icon\ hover.svg);
}

@media screen and (max-width: 768px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
    } 
 }