.profile__job {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 1080px) {
    .profile__job {
        font-weight: normal;
        font-size: 14px;
        justify-self: center;
    }
}